<section class="about">
	<div class="top">
		<div class="top-image">
			<div class="about-container">
				<h1 class="about-title">TEXT</h1>
				<p class="about-text">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
			</div>
		</div>
		
	</div>
	<div class="second clearfix">
		<div class="second-image">
			
		</div>
		<div class="second-text">
			<p class="sub-text">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
		</div>
		
	</div>
	<div class="third clearfix">
		<div class="third-image">
			
		</div>
		<div class="third-text">
			<p class="sub-text">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
		</div>
		
	</div>
	<div class="end clearfix">
		<div class="end-image">
			<p class="end-text">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttex</p>
			<div class="about-container2">
				<%= link_to( new_user_registration_path) do %>
					<button class="btn-square-pop">Sign Up</button>
				<% end %>
			</div>
		</div>
		
	</div>
</section>